body{
    background-color: #ffffff;
}
.yo {
    display: flex; align-items:center; justify-content: center;
}
.foto {
    display: flex; width: auto;
}
.gris {
    background-color: #D7E3E1;
}
.sobre-mi {
    font-size: large; 
}
.proyectos {
    text-align: center; margin-top: 30px; margin-bottom: 40px;
}
.contactame {
    text-align: left; margin-top: 30px; margin-bottom: 30px;
}
#cuentame {
    text-align: center; font-size: large;
}
.btn-primary {
    background-color: #314B59;
    color: var#314B59;
    padding: 0.7rem 2.5rem;
    font-size: 1.25rem;

}